extends layout.pug

block content
    header
        h1 URL Shortener Express Microservice
    main
        form(action="/" id="query-form")
            input(type="text" id="input-url" required)
            input(type="submit" id="submit" value="Submit")
    footer
    script(
        src="js/client.js"
        type="text/javascript"
    )